/*------------------------------------*             Import Font
\*------------------------------------*/
@import url("https://fonts.googleapis.com/css?family=Saira+Extra+Condensed");
/*------------------------------------* Font Definition
\*------------------------------------*/
/* html, body, a, select, form, fieldset, table, tr, td, img, input, button, select, textarea, optgroup, option {
    font-family: 'Montserrat', sans-serif;
} */
a,
body,
button,
fieldset,
html,
input,
optgroup,
option,
select,
select,
textarea {
  font-family: 'Saira Extra Condensed', sans-serif; }

body,
html {
  font-family: 'Saira Extra Condensed';
  font-weight: 400;
  background-color: #efefef;
  color: #333333;
  margin: 0px; }

.Header_background {
  background-color: #333333;
  border-bottom-color: #333333; }

.Header_title {
  border-right-color: #4e5d67; }

.Header_title a,
.Header_title a:link,
.Header_title a:visited,
.Heading1,
.Heading2,
.Heading3,
.Heading4 {
  color: #333333;
  font-weight: 600; }

.Heading1 {
  font-size: 20pt; }

.Heading2 {
  font-size: 16pt; }

.Heading3 {
  font-size: 14pt; }

.Heading4 {
  font-size: 13pt; }

.Menu_DropDownPanel {
  background-color: #333333; }

.Header__activity,
.LoginInfo,
.Login_Text,
.Text_black {
  color: #333333; }

.Feedback_AjaxWait {
  color: #38444c; }

.AccordionVertical_item.open .AccordionVertical__header {
  border-top: 2px solid #38444c; }

.AccordionVertical_item.open .AccordionVertical___icon > .fa {
  color: #38444c; }

.Post_icon img {
  border: 2px solid #38444c; }

.expanded .SectionExpandable__icon.Heading2 > .fa {
  color: #38444c; }

.Panel .SectionExpandable__icon.Heading2 > .fa {
  color: #38444c;
  border: 1px solid #38444c; }

.Panel .expanded .SectionExpandable__icon.Heading2 > .fa {
  background-color: #38444c;
  border: 1px solid #38444c; }

div.calendarPattern tr.daynames {
  border-top: 2px solid #38444c; }

div.calendarPattern thead .button {
  color: #38444c; }

div.calendarPattern tbody td.selected {
  background-color: #38444c; }

.select2-container .select2-choice {
  color: #38444c; }

.IconBadge_number {
  background-color: #38444c; }

.desktop .NavigationBar a:hover,
.desktop .NavigationBar a:link:hover {
  color: #38444c; }

.NavigationBar a.Active {
  color: #38444c; }

.NavigationBar a.Active:after,
.desktop .NavigationBar a:hover:after,
.desktop .NavigationBar a:link:hover:after {
  background-color: #38444c; }

.NavigationBar a.Active:not(.IE8):before {
  border-bottom: 4px solid #38444c; }

.NavigationBar.Vertical a.Active,
.NavigationBar.Vertical a:link.Active,
.desktop .NavigationBar.Vertical a:hover,
.desktop .NavigationBar.Vertical a:link:hover {
  border-color: #38444c; }

.NavigationBar.Vertical a.Active:not(.IE8):before {
  border-left: 4px solid #38444c; }

.phone .NavigationBar .InlineDropdown:active,
.phone .NavigationBar .InlineDropdown:link:active,
.phone .NavigationBar a:active,
.phone .NavigationBar a:link:active,
.tablet .NavigationBar .InlineDropdown:active,
.tablet .NavigationBar .InlineDropdown:link:active,
.tablet .NavigationBar a:active,
.tablet .NavigationBar a:link:active {
  color: #38444c; }

.phone .NavigationBar .InlineDropdown:active:after,
.phone .NavigationBar .InlineDropdown:link:active:after,
.phone .NavigationBar a:active:after,
.phone .NavigationBar a:link:active:after,
.tablet .NavigationBar .InlineDropdown:active:after,
.tablet .NavigationBar .InlineDropdown:link:active:after,
.tablet .NavigationBar a:active:after,
.tablet .NavigationBar a:link:active:after {
  background-color: #38444c; }

.WizardStep.ActiveStep {
  background: #333333; }

.WizardStep.Past {
  background: #38444c; }

.WizardStep.Past:before {
  border-top-color: #38444c;
  border-bottom-color: #38444c; }

.WizardStep.ActiveStep:before {
  border-top-color: #333333;
  border-bottom-color: #333333; }

div.os-internal-Popup .os-internal-ui-dialog .os-internal-ui-dialog-titlebar,
div.os-internal-Popup.os-internal-ui-dialog .os-internal-ui-dialog-titlebar {
  background: #333333; }

.Menu_DropDownPanel a.Menu_SubMenuItem:hover {
  background-color: #333333; }

div.Menu_DropDownPanel a:hover,
div.Menu_DropDownPanel a:link:hover,
div.Menu_DropDownPanel a:visited:hover {
  color: #38444c; }

.Menu_DropDownButton.open .Menu_TopMenu .Menu_DropDownArrow {
  border-top-color: #38444c; }

.Title_Section {
  background-color: #ffffff; }

.phone a.Header_ButtonMenu,
.tablet a.Header_ButtonMenu {
  color: #38444c; }

.Page.active .Header_ButtonMenu {
  color: #38444c; }

.SectionIndex.vertical a.active,
.SectionIndex.vertical a:hover {
  color: #38444c;
  border-left-color: #38444c; }

.AccordionVertical___title {
  color: #38444c; }

.SectionExpandable.expanded .SectionExpandable_header .Heading2 {
  color: #38444c; }

.Calendar-day-selected,
.Calendar-day-selected:hover {
  background: #38444c; }

.Calendar-navDisabled > div,
.Calendar-time-am,
.Calendar-time-down,
.Calendar-time-up,
.topBar-navDisabled .Calendar-navBtn > div {
  color: #38444c; }

.DropdownMenu .PH > a {
  color: #38444c; }

.SliderRange .ui-slider-range {
  background-color: #38444c; }

.select2-container .select2-choice span {
  color: #38444c; }

.select2-results .select2-highlighted {
  background-color: #38444c; }

.BottomMenu_item.active {
  background-color: #38444c; }

.EditableTable tr.RowControlGroup a:hover {
  color: #38444c; }

/******** TSS Theme specific configurations ********/
.Header_content_wrap a,
.Header_content_wrap a:link,
.Header_content_wrap a:visited {
  color: #ffffff; }

a {
  font-size: 14px;
  font-weight: bold;
  text-decoration: none; }

a:hover {
  text-decoration: none; }

a[disabled="disabled"],
a[disabled="disabled"]:hover {
  color: #ccc;
  text-decoration: none; }

/******************************* Color Change ***********************/
.Header {
  background-color: #4e5d67; }

.Text_Note,
.hint {
  /* increased contrast for WCAG AA requirement */
  color: #767676; }

.desktop .Content_Top .Top_carousel_item_content.active,
.phone.landscape .Content_Top .Top_carousel_item_content.active,
.tablet .Content_Top .Top_carousel_item_content.active {
  border-bottom: 2px solid #4e5d67; }

.desktop .Content_Top .Top_carousel_item_content.active .fa,
.phone .Content_Top .Top_carousel_item_content.active .fa,
.tablet .Content_Top .Top_carousel_item_content.active .fa {
  color: #4e5d67; }

.Header_Info {
  border-bottom: 2px solid #4e5d67; }

.Menu_TopMenu:hover span.fa {
  border-color: #4e5d67;
  color: #4e5d67; }

.Menu_TopMenuActive a span.fa {
  border-color: #4e5d67;
  color: #4e5d67; }

.Menu_DropDownPanel a span.fa {
  color: #4e5d67; }

.Breadcrumbs div a {
  color: #4e5d67; }

.HeaderPage .BreadcrumbsContainer .Breadcrumbs,
.HeaderPage .BreadcrumbsContainer .Breadcrumbs a,
.HeaderPage .BreadcrumbsContainer .Breadcrumbs span {
  color: #4e5d67; }

.TableRecords_Header a {
  color: #38444c; }
  .TableRecords_Header a:active, .TableRecords_Header a:focus, .TableRecords_Header a:hover {
    color: #4e5d67; }

.EditableTable thead th {
  color: #38444c; }

.Login_Form_Title {
  border-bottom: 1px solid #4e5d67; }

.Login_Form_Body {
  border-bottom: 0 solid #4e5d67; }

.Login_Form_Links a {
  color: #4e5d67; }

.Login__Logo {
  border-bottom: 0; }

.Login_Box {
  border: 1px solid #dddddd;
  width: 100%; }

.Login_Wrap {
  width: 550px;
  margin: 30px auto 40px;
  position: relative;
  left: auto;
  top: 65px; }

.Login__Footer {
  position: fixed;
  background-color: #4e5d67;
  /* background: -webkit-linear-gradient(90deg, #0079A7 0%, $secondary-color 100%);
    background:    -moz-linear-gradient(90deg, #0079A7 0%, $secondary-color 100%);
    background:     -ms-linear-gradient(90deg, #0079A7 0%, $secondary-color 100%);
    background:      -o-linear-gradient(90deg, #0079A7 0%, $secondary-color 100%);
    background:          linear-gradient(0deg, #0079A7 0%, $secondary-color 100%);
    */ }

.AccordionVertical_item.open .AccordionVertical__header {
  border-top: 2px solid #4e5d67; }

.AccordionVertical_item.open .AccordionVertical___icon > .fa {
  background-color: #4e5d67;
  border: 1px solid #4e5d67; }

.Box.Blue {
  background-color: #4e5d67; }

.owl-theme .owl-controls .owl-page.active span,
.owl-theme .owl-controls.clickable .owl-page:hover span {
  background-color: #4e5d67; }

.owl-theme .owl-controls .owl-buttons div {
  color: #4e5d67; }

.Post_icon img {
  border: 2px solid #4e5d67; }

.SectionIndex a.active,
.SectionIndex a:hover {
  border-bottom: solid 2px #4e5d67;
  color: #4e5d67; }

.SectionIndex.vertical a.active,
.SectionIndex.vertical a:hover {
  border-left-color: #4e5d67; }

.expanded .SectionExpandable__icon.Heading2 > .fa {
  background-color: #4e5d67;
  border: 1px solid #4e5d67; }

.Panel .SectionExpandable__icon.Heading2 > .fa {
  border: 1px solid #4e5d67; }

.Panel .expanded .SectionExpandable__icon.Heading2 > .fa {
  background-color: #4e5d67;
  border: 1px solid #4e5d67; }

.Calendar-dayNames {
  border-top: 2px solid #4e5d67; }

.Calendar-navBtn > div {
  color: #4e5d67; }

.Calendar-time-am,
.Calendar-time-down,
.Calendar-time-up {
  color: #4e5d67; }

.calendarPattern tr.daynames {
  border-top: 2px solid #4e5d67; }

.calendarPattern thead .button {
  color: #4e5d67; }

.Counter.Blue {
  background-color: #4e5d67; }

.Tile.Blue {
  background-color: #4e5d67; }

.UserInitials.Blue {
  background-color: #4e5d67; }

.ListItem {
  color: #4e5d67; }

.NavigationBar a.Active:after,
.desktop .NavigationBar a:hover:after,
.desktop .NavigationBar a:link:hover:after {
  background-color: #4e5d67; }

.NavigationBar a.Active:not(.IE8):before {
  border-bottom: 4px solid #4e5d67; }

/* NavigationBar: Vertical ******************************/
.NavigationBar.Vertical a.Active,
.NavigationBar.Vertical a:link.Active,
.desktop .NavigationBar.Vertical a:hover,
.desktop .NavigationBar.Vertical a:link:hover {
  border-color: #4e5d67; }

.NavigationBar.Vertical a.Active:not(.IE8):before {
  border-left: 4px solid #4e5d67; }

.phone .NavigationBar .InlineDropdown:active:after,
.phone .NavigationBar .InlineDropdown:link:active:after,
.phone .NavigationBar a:active:after,
.phone .NavigationBar a:link:active:after,
.tablet .NavigationBar .InlineDropdown:active:after,
.tablet .NavigationBar .InlineDropdown:link:active:after,
.tablet .NavigationBar a:active:after,
.tablet .NavigationBar a:link:active:after {
  background-color: #4e5d67; }

.phone .NavigationBar a.open:after,
.tablet .NavigationBar a.open:after {
  background-color: #4e5d67; }

.BottomMenu_item.active {
  background-color: #4e5d67; }

.Blue {
  background-color: #4e5d67; }

.Heading2 {
  color: #4e5d67; }

.CustomChart .CustomChartTitle {
  border-bottom: 1px solid #4e5d67; }

.FilterUnits .ButtonGroup_button.Button {
  border-color: #4e5d67;
  color: #4e5d67; }

.FilterUnits .ButtonGroup_button.Button.active {
  background: #4e5d67;
  border-color: #4e5d67; }

.CustomChart .ChartFilter .FilterPeriod .PeriodOption.active,
.CustomChart .ChartFilter .FilterPeriod .PeriodOption.active .PeriodOptionLabel {
  background: #4e5d67; }

.FilterBalloon .CustomChart .Balloon {
  border: 1px solid #4e5d67; }

.Table_Label {
  color: #4e5d67; }

/************ COMMON ******************/
.BottomBorderBlueLine {
  border-bottom-color: #4e5d67; }

.Section_header {
  border-bottom: 1px solid #4e5d67; }

.BottomBorderBlueLine {
  border-bottom-color: #4e5d67; }

.Login_Form_Title {
  border-bottom: 1px solid #4e5d67; }

.BLueLink a {
  color: #4e5d67; }

.BoxTitle {
  background-color: #4e5d67; }

/***** Secondary Color ******* /

/* Usefull Classes > Default Action Button */
.Orange {
  background-color: #4e5d67; }

.Text_gray {
  color: #919191; }

.TableRecords > tbody > tr > td a {
  color: #4e5d67; }

.Accordion_Icon {
  background-color: transparent;
  border: 1px solid #ccc;
  border-radius: 22px;
  color: #999;
  font-size: 20px;
  height: 22px;
  width: 22px; }

.Accordion_Icon_Container {
  border-left: 1px solid #ccc;
  display: table-cell;
  padding-left: 10px;
  vertical-align: middle; }

.Accordion_Seciton {
  padding: 12px 14px; }

/*
.Form label.MandatoryLabel:after{
    content: none;
}

*/
.SectionExpandable_header {
  cursor: auto; }

.Form .ExternalSmartInputUndo a.SmartInput_Undo {
  margin-left: 0; }

.Form .NoSmartInputUndo a.SmartInput_Undo {
  display: none !important; }

.AccordionVerticalHeader {
  display: table;
  padding: 12px 14px;
  width: 100%; }

.Form .AccordionVertical_item:not(.open) input.SmartInput_Changed.ReadOnly + a.SmartInput_Undo,
.Form .AccordionVertical_item:not(.open) select.SmartInput_Changed.ReadOnly + a.SmartInput_Undo,
.Form .AccordionVertical_item:not(.open) textarea.SmartInput_Changed.ReadOnly + a.SmartInput_Undo {
  display: none; }

.NormalText {
  font-size: 14px;
  font-weight: normal;
  color: #051629;
  letter-spacing: 0; }

.ValidationMessage {
  display: none; }

/* hide Undo, to sort of satisfy WCAG */
a.SmartInput_Undo {
  display: none !important; }

/* stupid bug on select2, hide the unneeded pencil icon */
.select2-search .FormEditPencil {
  display: none; }

tPencil {
  display: none; }

span.Bold.Heading3 {
  font-size: 16px; }

.DesktopAlignRight {
  text-align: right; }

.phone .PhoneAlignCenter {
  text-align: center; }

.tablet .TabletAlignCenter {
  text-align: center; }

h1, h2 {
  margin: 0px; }

.mainTitle {
  margin: 0px;
  top: -49px;
  left: 54px;
  position: relative;
  font-size: 11px; }

.appTitle {
  height: 56px; }

.header {
  background: #ffffff; }

.body {
  margin-left: 190px; }

.pageTitle {
  padding: 17px;
  border-bottom: 1px solid #ddd; }

img.logo {
  height: 43px;
  padding: 5px; }

.card {
  background: white;
  border-radius: 5px;
  width: 100%;
  margin: 20px;
  padding: 20px;
  height: 140px; }

.card-content {
  font-size: 65px;
  text-align: -webkit-center;
  color: #414b52; }

.card-title {
  font-size: 25px;
  font-weight: 600;
  color: #414b52; }

.split2 {
  width: 50%;
  display: inline-flex; }

.Menu {
  width: 190px;
  height: 100%;
  position: absolute;
  background: #4e5d67; }

.MenuItem {
  font-size: 11px;
  padding: 15px;
  text-align: center;
  word-wrap: break-word;
  border-bottom: 1px solid #38444c;
  height: 54px;
  background: #4e5d67;
  transition: background-color 0.3s ease;
  color: #ffffff;
  text-decoration: none; }

.MenuItem:hover {
  font-size: 11px;
  padding: 15px;
  text-align: center;
  word-wrap: break-word;
  border-bottom: 1px solid #414b52;
  height: 54px;
  background: #414b52;
  border-left: 2px solid white;
  color: #ffffff;
  text-decoration: none; }

.MenuItemFocus {
  font-size: 11px;
  text-align: center;
  word-wrap: break-word;
  border-bottom: 1px solid #38444c;
  height: 54px;
  background: #38444c !important;
  border-left: 2px solid white;
  color: #ffffff;
  text-decoration: none; }

img.menuIcon {
  height: 38px;
  image-rendering: -webkit-optimize-contrast; }

h2.menuItemTitle {
  font-weight: 200;
  text-transform: uppercase;
  font-size: 14px; }
