// SCSS Variables

$primary-color: #00AEEF;
$secondary-color: #005778;
$secondary-h-color: $primary-color;
$black: #333333;
$grey: #919191;
$light-grey: #DEDEDE;
$white: #ffffff;
$header-color: $primary-color;
$link-hover-color: $primary-color;
$link-color: $black;
$title-color: #ffffff;
$text-color: #333333;
$background-color: #ffffff;
$sub-menu-color: $secondary-color;
$hr-color: #dddddd;
$dark-blue: #033B50;
$error-color: #e74c3c;
